.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Drivers/*

CMakeCache.txt
CMakeFiles/*
Makefile
cmake/*
cmake_install.cmake
compile_commands.json

*.elf
*.map